# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea
.vscode/

# test
.pytest_cache
.coverage

**/id_rsa*
**/*.log
*/domain.crt
*/domain.key
notes.txt
server.txt
*/setup.env
*not_used_*
node_keys/
registry/