HZN_EXCHANGE_URL=http://$SMARTAG_EDGESERVER_IP:3090/v1
HZN_FSS_CSSURL=http://$SMARTAG_EDGESERVER_IP:9443/
HZN_NODE_ID=$SMARTAG_EDGENODE_HOST
HZN_AGENT_PORT=8510
HZN_AGBOT_URL=http://$SMARTAG_EDGESERVER_IP:3111
HZN_MGMT_HUB_CERT_PATH=